<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" name="infos"
           fileName="${basedir}/logs/log-${level}-${shortdate}.log"
           layout="${longdate}  ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="errors"
       fileName="${basedir}/logs/log-${level}-${shortdate}.log"
       layout="${longdate}  ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="fatals"
      fileName="${basedir}/logs/log-${level}-${shortdate}.log"
      layout="${longdate}  ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="debugs"
  fileName="${basedir}/logs/log-${level}-${shortdate}.log"
  layout="${longdate}  ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="infos" final="true"/>
    <logger name="*" minlevel="Error" writeTo="errors" final="true"/>
    <logger name="*" minlevel="Fatal" writeTo="fatals" final="true"/>
    <logger name="*" minlevel="Debug" writeTo="debugs" final="true"/>
  </rules>
</nlog>